<!DOCTYPE html>
<html>
<head>
  <title>JeremicMarketplace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Main Header -->
  <header class="main-header">
    <%= render 'shared/main_menu' %>
  </header>

<%= yield %>

</body>
</html>
